In [ ]:
def calln():
    name  = input("tell me yout name ")
    gender = input("enter your gender").lower()
    if gender == "male":
         print(f"welcome Mr.{name}")
    else:
        print(f"welcome Mrs.{name}")

In [ ]:
calln()

In [ ]:
def evenodd():
    boolean = True
    
    while(boolean):
        
        digit = input("please enter a digit").lower()
        
        if digit == "esc":
            
            boolean = False
            
        else:
            digit1= int(digit)
            if digit1%2 == 0:
                    print("the digit is even")
                
            else:
                    print("the digit is odd")

In [ ]:
evenodd()

In [ ]:
Question:

Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,

between 2000 and 3200 (both included).

The numbers obtained should be printed in a comma-separated sequence on a single line.

In [16]:
list = []
for a in range(1,1000):
    if a%7==0 and a%5!=0:
        print(a,end=',')
        
        
        list.append(str(a))

7,14,21,28,42,49,56,63,77,84,91,98,112,119,126,133,147,154,161,168,182,189,196,203,217,224,231,238,252,259,266,273,287,294,301,308,322,329,336,343,357,364,371,378,392,399,406,413,427,434,441,448,462,469,476,483,497,504,511,518,532,539,546,553,567,574,581,588,602,609,616,623,637,644,651,658,672,679,686,693,707,714,721,728,742,749,756,763,777,784,791,798,812,819,826,833,847,854,861,868,882,889,896,903,917,924,931,938,952,959,966,973,987,994,

In [17]:
list

['7',
 '14',
 '21',
 '28',
 '42',
 '49',
 '56',
 '63',
 '77',
 '84',
 '91',
 '98',
 '112',
 '119',
 '126',
 '133',
 '147',
 '154',
 '161',
 '168',
 '182',
 '189',
 '196',
 '203',
 '217',
 '224',
 '231',
 '238',
 '252',
 '259',
 '266',
 '273',
 '287',
 '294',
 '301',
 '308',
 '322',
 '329',
 '336',
 '343',
 '357',
 '364',
 '371',
 '378',
 '392',
 '399',
 '406',
 '413',
 '427',
 '434',
 '441',
 '448',
 '462',
 '469',
 '476',
 '483',
 '497',
 '504',
 '511',
 '518',
 '532',
 '539',
 '546',
 '553',
 '567',
 '574',
 '581',
 '588',
 '602',
 '609',
 '616',
 '623',
 '637',
 '644',
 '651',
 '658',
 '672',
 '679',
 '686',
 '693',
 '707',
 '714',
 '721',
 '728',
 '742',
 '749',
 '756',
 '763',
 '777',
 '784',
 '791',
 '798',
 '812',
 '819',
 '826',
 '833',
 '847',
 '854',
 '861',
 '868',
 '882',
 '889',
 '896',
 '903',
 '917',
 '924',
 '931',
 '938',
 '952',
 '959',
 '966',
 '973',
 '987',
 '994']

In [5]:
list

[2002,
 2009,
 2016,
 2023,
 2037,
 2044,
 2051,
 2058,
 2072,
 2079,
 2086,
 2093,
 2107,
 2114,
 2121,
 2128,
 2142,
 2149,
 2156,
 2163,
 2177,
 2184,
 2191,
 2198,
 2212,
 2219,
 2226,
 2233,
 2247,
 2254,
 2261,
 2268,
 2282,
 2289,
 2296,
 2303,
 2317,
 2324,
 2331,
 2338,
 2352,
 2359,
 2366,
 2373,
 2387,
 2394,
 2401,
 2408,
 2422,
 2429,
 2436,
 2443,
 2457,
 2464,
 2471,
 2478,
 2492,
 2499,
 2506,
 2513,
 2527,
 2534,
 2541,
 2548,
 2562,
 2569,
 2576,
 2583,
 2597,
 2604,
 2611,
 2618,
 2632,
 2639,
 2646,
 2653,
 2667,
 2674,
 2681,
 2688,
 2702,
 2709,
 2716,
 2723,
 2737,
 2744,
 2751,
 2758,
 2772,
 2779,
 2786,
 2793,
 2807,
 2814,
 2821,
 2828,
 2842,
 2849,
 2856,
 2863,
 2877,
 2884,
 2891,
 2898,
 2912,
 2919,
 2926,
 2933,
 2947,
 2954,
 2961,
 2968,
 2982,
 2989,
 2996,
 3003,
 3017,
 3024,
 3031,
 3038,
 3052,
 3059,
 3066,
 3073,
 3087,
 3094,
 3101,
 3108,
 3122,
 3129,
 3136,
 3143,
 3157,
 3164,
 3171,
 3178,
 3192,
 3199]

In [ ]:
Write a program which can compute the factorial of a given numbers.

The results should be printed in a comma-separated sequence on a single line.

Suppose the following input is supplied to the program:

In [20]:
adic={}

In [21]:
n = int(input())
for num in range(1,n+1):
    adic[num] = num*num

10

In [22]:
adic

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [23]:
def adding():
    num1 = int(input())
    num2 = int(input())
    
    return num1 +num2

In [24]:
adding()

5
8

13

In [25]:
a= adding() * 10

5
8

In [26]:
a

130

In [31]:
def add():
    nums = int(input().split(','))
    return sum(num)

In [33]:
add()

6

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

######